extends ../layouts/main-layout.pug

block styles   
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/orders.css")

block content   
    main 
        if orders.length > 0
            ul.orders
                each order in orders
                    li.orders__item
                        div 
                            h1 Order - ##{order._id}
                        ul.orders__products
                            each p in order.products
                                li.orders__products-item #{`${p.product.title} x${p.quantity}`}
                        div
                                a.btn(href=`/orders/${order._id}`) Invoice
        else
            h1 Nothing there!